@model Department
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name Department</h1>
<div asp-validation-summary="All"> </div>
<form asp-action="Edit">
    <div>
        <label asp-for="Code" class="col-form-label"></label>
        <input class="form-control " asp-for="Code" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Name" class="col-form-label"></label>
        <input class="form-control " asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>

    <div>
        <label asp-for="DateOfCreation" class="col-form-label"></label>
        <input class="form-control " asp-for="DateOfCreation" />

    </div>


    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">BackToList</a>

</form>
@section  ValidationScriptSection
    {

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    }