@model Employee
<div>
    <label asp-for="Name" class="col-form-label"></label>
    <input readonly class="form-control " asp-for="Name" />


</div>
<div>
    <label asp-for="Age" class="col-form-label"></label>
    <input readonly class="form-control " asp-for="Age" />

</div>
<div>
    <label asp-for="Address" class="col-form-label"></label>
    <input readonly class="form-control " asp-for="Address" />

</div>
<div>
    <label asp-for="Salary" class="col-form-label"></label>
    <input readonly class="form-control " asp-for="Salary" />

</div>
<div>
    <label asp-for="Phone" class="col-form-label"></label>
    <input readonly class="form-control " asp-for="Phone" />

</div>

<div>
    <label asp-for="Email" class="col-form-label"></label>
    <input readonly class="form-control " asp-for="Email" />

</div>
<div>
    <label asp-for="HireDate" class="col-form-label"></label>
    <input readonly class="form-control " asp-for="HireDate" />

</div>
<div>
    <label asp-for="IsActive" class="col-form-label"></label>
    <input readonly asp-for="IsActive" />

</div>

<div>
    <label asp-for="DateOfCreation" class="col-form-label"></label>
    <input readonly class="form-control " asp-for="DateOfCreation" />

</div>