@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">

		<form asp-action="SendEmail" method="post">

			<input class="text" type="text" asp-for="Email" placeholder="Email" required="">
			<input type="submit" value="Reset Password">
		
		</form>
		<p><a asp-action="Login">Cancel</a></p>
		
	</div>
</div>